@mixin vendor($property, $value) { 
    @each $vendor in ('-moz-', '-webkit-', '-o-', '-ms-', '') {
        #{$vendor}#{$property}: #{$value};
    }
}

@mixin icon {
	&:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
	}
}